# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build and bin
build/
bin/

# Database
*.sqlite3
.crash_report.log

# GUI stuff
/gui-testing/Project imgui/x64/Debug
/gui-testing/.vs/Project imgui/v17
/gui-testing/.vs/Project imgui/v15
/gui-testing/x64/Debug
/gui-testing/.vs/Project imgui/FileContentIndex
/gui-testing/Project imgui/x64/Release
src/gui/x64
imgui.ini

.vs/
